In [1]:
#Read the data set

Q1 Explain the key features of Python that make it a popular choice for programming
Free and Open Source, Easy to code, Easy to Read, Object-Oriented Language, High-Level Language, Large Community Support, Easy to Debug, Python is a Portable language, Python is an Integrated language
Interpreted Language, Large Standard Library, Dynamically Typed Language, Frontend and backend development, Allocating Memory Dynamically

Q2 Describe the role of predefined keywords in Python and provide examples of how they are used in a Program

In [9]:
# code
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

place holders where we kept and, or, not, True, False keywords

In [5]:
#  compare two operands using and operator
print(True and True)
# compare two operands using or operator
print(True or False)
# use of not operator
print(not False)

True
True
True

place holders where we kept break, continue keywords and identifier

In [6]:
# execute for loop
for i in range(1, 11):
    # print the value of i
    print(i)
# check the value of i is less than 5
# if i lessthan 5 then continue loop
    if i < 5:  
        continue
 # if i greater than 5 then break loop
    else:  
        break

1
2
3
4
5

example of for, in, if, elif, and else keywords

In [10]:
# run for loop
for t in range(1, 5):
  # print one of t ==1
    if t == 1:
        print('One')
   # print two if t ==2
    elif t == 2:
        print('Two')
    else:
        print('else block execute')

One
Two
else block execute
else block execute

Example of def, if, and else keywords

In [11]:
# define GFG() function using def keyword
def GFG():
    i=20
    # check i is odd or not 
    # using if and else keyword
    if(i % 2 == 0):
        print("given number is even")
    else:
        print("given number is odd")    
    
# call GFG() function    
GFG()

given number is even

Example of try, except, raise, lambda keyword

In [13]:
def fun(num):
    try:
        r = 1.0/num
    except:
        print('Exception raises')
        return
    return r

print(fun(10))
print(fun(0))

# define a anonymous using lambda keyword
# this lambda function increment the value of b
a = lambda b: b+1

# run a for loop 
for i in range(1, 6):
    print(a(i))

0.1
Exception raises
None
2
3
4
5
6

3.  Compare and contrast mutable and immutable objects in Python with examples

In [15]:
# A mutable data type is those whose values can be changed List, Dictionaries, and Set
#create a list of student

name = ['Vikram', 'Anshul', 'Amit', 'Suresh']

#add element in the existing list
name.append('Kamal')

#print the result
print(name)

['Vikram', 'Anshul', 'Amit', 'Suresh', 'Kamal']

In [16]:
# create a dictionary: Employee

employee = {'name' : 'Vikram', 'age' : 30, 'department' : 'Content Management'}

# change the department name from Content Management to Editorial

employee['department'] = 'Editorial'

#print the dictionary

print(employee)

{'name': 'Vikram', 'age': 30, 'department': 'Editorial'}

In [17]:
# Creating a set
name = {'Vikram', 'Anshul', 'Amit', 'Suresh'}

# Displaying the original set
print("Original set:", name)

# Adding an element to the set
name.add("Kunal")
print("After adding 'Kunal':", name)

# Removing an element from the set
name.remove("Amit")
print("After removing 'Amit':", name)

# Adding multiple elements using the update method
name.update(["Ankit", "Harsh"])
print("After adding 'Ankit' and 'Harsh':", name)

Original set: {'Suresh', 'Anshul', 'Amit', 'Vikram'}
After adding 'Kunal': {'Kunal', 'Amit', 'Anshul', 'Vikram', 'Suresh'}
After removing 'Amit': {'Kunal', 'Anshul', 'Vikram', 'Suresh'}
After adding 'Ankit' and 'Harsh': {'Kunal', 'Harsh', 'Ankit', 'Anshul', 'Vikram', 'Suresh'}

In [19]:
# Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered String and Tuples
"""
This program shows how strings and tuples are immutable in Python.
"""

my_string = "Hello, world!"

try:
  """
  This code tries to change the first character of the string to "H".
  However, the code will throw a TypeError because strings are immutable.
  """
  my_string[0] = "H"
except TypeError:
  print("Strings are immutable and cannot be changed.")

my_tuple = (1, 2, 3)


try:
  """
  This code tries to change the first element of the tuple to 4.
  However, the code will throw a TypeError because tuples are immutable.
  """
  my_tuple[0] = 4
except TypeError:
  print("Tuples are immutable and cannot be changed.")

print("The value of the string is:", my_string)

print("The value of the tuple is:", my_tuple)

Strings are immutable and cannot be changed.
Tuples are immutable and cannot be changed.
The value of the string is: Hello, world!
The value of the tuple is: (1, 2, 3)

Q4. Discuss the different types of operators in Python and provide examples of how they are used

In [20]:
# In Python, operators are special symbols or keywords that carry out operations on values and python variables. They serve as a basis for expressions, which are used to modify data and execute computations. Python contains several operators, each with its unique purpose.
# Python Arithmetic Operators

In [21]:
a = 21
b = 10
# Addition
print ("a + b : ", a + b)
# Subtraction
print ("a - b : ", a - b)
# Multiplication
print ("a * b : ", a * b)
# Division
print ("a / b : ", a / b)
# Modulus
print ("a % b : ", a % b)
# Exponent
print ("a ** b : ", a ** b)
# Floor Division
print ("a // b : ", a // b)

a + b :  31
a - b :  11
a * b :  210
a / b :  2.1
a % b :  1
a ** b :  16679880978201
a // b :  2

In [22]:
# Comparison Operators
a = 4
b = 5
# Equal
print ("a == b : ", a == b)
# Not Equal
print ("a != b : ", a != b)
# Greater Than
print ("a > b : ", a > b)
# Less Than
print ("a < b : ", a < b)
# Greater Than or Equal to
print ("a >= b : ", a >= b)
# Less Than or Equal to
print ("a <= b : ", a <= b)

a == b :  False
a != b :  True
a > b :  False
a < b :  True
a >= b :  False
a <= b :  True

In [24]:
# Assignment Operators
# Assignment Operator
a = 10
# Addition Assignment
a += 5
print ("a += 5 : ", a)
# Subtraction Assignment
a -= 5
print ("a -= 5 : ", a)
# Multiplication Assignment
a *= 5
print ("a *= 5 : ", a)
# Division Assignment
a /= 5
print ("a /= 5 : ",a)
# Remainder Assignment
a %= 3
print ("a %= 3 : ", a)
# Exponent Assignment
a **= 2
print ("a **= 2 : ", a)
# Floor Division Assignment
a //= 3
print ("a //= 3 : ", a)

a += 5 :  15
a -= 5 :  10
a *= 5 :  50
a /= 5 :  10.0
a %= 3 :  1.0
a **= 2 :  1.0
a //= 3 :  0.0

In [25]:
# Bitwise Operators
a = 60 # 60 = 0011 1100
b = 13 # 13 = 0000 1101
# Binary AND
c = a & b # 12 = 0000 1100
print ("a & b : ", c)
# Binary OR
c = a | b # 61 = 0011 1101
print ("a | b : ", c)
# Binary XOR
c = a ^ b # 49 = 0011 0001
print ("a ^ b : ", c)
# Binary Ones Complement
c = ~a; # -61 = 1100 0011
print ("~a : ", c)
# Binary Left Shift
c = a << 2; # 240 = 1111 0000
print ("a << 2 : ", c)
# Binary Right Shift
c = a >> 2; # 15 = 0000 1111
print ("a >> 2 : ", c)

a & b :  12
a | b :  61
a ^ b :  49
~a :  -61
a << 2 :  240
a >> 2 :  15

In [26]:
# Logical Operators
x = 5
y = 10
if x > 3 and y < 15:
  print("Both x and y are within the specified range")

Both x and y are within the specified range

In [27]:
# Membership Operators
fruits = ["apple", "banana", "cherry"]
if "banana" in fruits:
    print("Yes, banana is a fruit!")
else:
    print("No, banana is not a fruit!")

Yes, banana is a fruit!

In [28]:
# Identity Operators
x = 10
y = 5
if x is y:
    print("x and y are the same object")
else:
    print("x and y are not the same object")

x and y are not the same object

Q5 Explain the concept of type casting in Python with examples

In [29]:
# Implicit Type Conversion: In this, method, Python converts the datatype into another datatype automatically. Users don’t have to involve in this process
# Python program to demonstrate 
# implicit type Casting 

# Python automatically converts 
# a to int 
a = 7
print(type(a)) 

# Python automatically converts 
# b to float 
b = 3.0
print(type(b)) 

# Python automatically converts 
# c to float as it is a float addition 
c = a + b 
print(c) 
print(type(c))

# Python automatically converts 
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

In [30]:
# Explicit Type Conversion: In this method, Python needs user involvement to convert the variable data type into the required data type
# Convert Int to Float
# int variable
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

5.0
<class 'float'>

In [31]:
# Convert Float to Int
# int variable
a = 5.9

# typecast to int
n = int(a)

print(n)
print(type(n))

5
<class 'int'>

In [32]:
# Convert int to String 
# int variable
a = 5

# typecast to str
n = str(a)

print(n)
print(type(n))

5
<class 'str'>

In [34]:
# String to float
# string variable
a = "5.9"

# typecast to float
n = float(a)

print(n)
print(type(n))

5.9
<class 'float'>

In [35]:
# string to int
# string variable
a = "5"
b = 't'

# typecast to int
n = int(a)

print(n)
print(type(n))

print(int(b))
print(type(b))

5
<class 'int'>

ValueError: invalid literal for int() with base 10: 't'

Q6 How do conditional statements work in Python? Illustrate with examples

In [36]:
# If Conditional Statement in Python: If the simple code of block is to be performed if the condition holds then the if statement is used. Here the condition mentioned holds then the code of the block runs otherwise not
# if statement example
if 10 > 5:
    print("10 greater than 5")

print("Program ended")

10 greater than 5
Program ended

In [37]:
# If else Conditional Statements in Python: In a conditional if Statement the additional block of code is merged as an else statement which is performed when if condition is false
# if..else statement example
x = 3
if x == 4:
    print("Yes")
else:
    print("No")

No

In [38]:
# Nested if..else Conditional Statements in Python: Nested if..else means an if-else statement inside another if statement
# if..else chain statement
letter = "A"

if letter == "B":
    print("letter is B")

else:

    if letter == "C":
        print("letter is C")

    else:

        if letter == "A":
            print("letter is A")

        else:
            print("letter isn't A, B and C")

letter is A

In [39]:
# If-elif-else Conditional Statements in Python: The if statements are executed from the top down
# if-elif statement example
letter = "A"

if letter == "B":
    print("letter is B")

elif letter == "C":
    print("letter is C")

elif letter == "A":
    print("letter is A")

else:
    print("letter isn't A, B or C")

letter is A

In [40]:
# Ternary Expression Conditional Statements in Python: The Python ternary Expression determines if a condition is true or false and then returns the appropriate value in accordance with the result
# Python program to demonstrate nested ternary operator
a, b = 10, 20

print("Both a and b are equal" if a == b else "a is greater than b"
        if a > b else "b is greater than a")

b is greater than a

Q7 Describe the different types of loops in Python and their use cases with examples

In [41]:
# While Loop: The given Python code uses a ‘while' loop to print “Hello Geek” three times by incrementing a variable called ‘count' from 1 to 3
count = 0
while (count < 3):
    count = count + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [42]:
# For Loop: For loops are used for sequential traversal. For example: traversing a list or string or array etc
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [43]:
# It demonstrates iteration over lists, tuples, strings, dictionaries, and sets, printing their elements or key-value pairs
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
    print(i)
print("\nTuple Iteration")
t = ("geeks", "for", "geeks")
for i in t:
    print(i)
print("\nString Iteration")
s = "Geeks"
for i in s:
    print(i)
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d:
    print("%s  %d" % (i, d[i]))
print("\nSet Iteration")
set1 = {1, 2, 3, 4, 5, 6}
for i in set1:
    print(i),

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

Dictionary Iteration
xyz  123
abc  345

Set Iteration
1
2
3
4
5
6